body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-align: center;
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-catalog,
.catalog-item,
.services-text,
.block-text,
.company-text,
.contacts-text {
  font-family: "PT Sans", Arial, sans-serif;
}

.header-page {
  min-height: 320px;
  background-color: #f4f7f9;
  margin: 0;
  padding: 0;
}

.header-top,
.footer-bottom {
  background-color: #293449;
}

.nav-list,
.transport-companies,
.slider-list,
.breadcrumbs-list,
.filter-list,
.catalog-list,
.goods-list,
.footer-list,
.social-list,
.brands-list,
.services-list,
.sorting-list,
.pagination-list {
  list-style: none;
}

.top-menu-link,
.nav-link,
.footer-page a {
  color: #fff;
}

.logo {
  display: block;
  width: 220px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  margin: 0;
  padding-top: 12px;
}

.logo:hover,
.logo:focus,
.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.logo:active,
.btn:active {
  background-color: #ba2732;
}

.header-logo {
  position: absolute;
  min-height: 47px;
  border-top: 1px solid #e03643;
}

.search-wrap {
  position: relative;
  margin-left: 220px;
}

.search-wrap svg {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.search-wrap:hover svg {
  opacity: 1;
}

.search {
  width: 269px;
  height: 42px;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  border: 0;
  background-color: #293449;
  margin: 0;
  padding: 0;
  padding-left: 48px;
}

input[type="search"]::-webkit-input-placeholder {
  color: #fff;
}

input[type="search"]::-moz-placeholder {
  color: #fff;
}

.search:focus {
  color: #000;
  background-color: #fff;
  outline: none;
}

.search:focus::-ms-input-placeholder {
  color: #ccc;
}

.search:focus::placeholder {
  color: #ccc;
}

.search:focus+svg {
  opacity: 1;
}

.search:focus+svg path {
  fill: #ee3643;
}

.search:hover,
.top-menu-link:hover,
.top-menu-link:focus {
  background-color: #212a3a;
}

.search:focus {
  color: #000;
  background-color: #fff;
}

.top-menu-link:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.checkout {
  background-color: #63a63e;
}

.checkout:hover,
.checkout:focus {
  background-color: #5fbb2d;
}

.checkout:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header-text {
  width: 200px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  margin-left: 52px;
  padding-top: 4px;
}

.tel {
  position: relative;
  display: block;
  width: 270px;
  min-height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #fff;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 20px;
}

.tel::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  width: 20px;
  height: 20px;
  background-image: url("../img/image/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.user-nav {
  display: flex;
  justify-content: flex-end;
  width: 300px;
}

.user-btn {
  min-height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 11px;
}

.user-btn:hover,
.user-btn:focus {
  color: #ee3643;
}

.user-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.account {
  width: 300px;
  margin: 0;
  padding: 0;
}

.user {
  position: relative;
  min-height: 45px;
  font-size: 21px;
  line-height: 21px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
  padding-top: 13px;
  padding-left: 48px;
}

.user-name {
  position: relative;
  color: #000;
}

.user-name svg {
  position: absolute;
  top: 3px;
  left: -34px;
}

.user-exit {
  position: absolute;
  top: 15px;
  right: 10px;
}

.user-name:hover path,
.user-name:focus path,
.user-exit:hover path,
.user-exit:focus path {
  fill: #32425c;
}

.user-name:active path,
.user-exit:active path {
  fill: #c5c5c5;
}

.user-date {
  padding: 0;
  padding-left: 19px;
}

.user-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-date span {
  display: inline-block;
  vertical-align: top;
  width: 4px;
  height: 4px;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  border-radius: 50%;
  margin: 0;
  margin-top: 7px;
  margin-right: 9px;
  margin-left: 11px;
}

.user a:active {
  opacity: 0.3;
}

.user-link:hover,
.user-link:focus {
  color: #ee3643;
}

.user-link:active {
  color: #32425c;
  opacity: 0.3;
}

.nav-item {
  flex-grow: 1;
}

.nav-link {
  display: block;
  min-height: 60px;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  padding-top: 20px;
  padding-bottom: 16px;
}

.nav-item:first-child .nav-link {
  padding-left: 21px;
}

.nav-item:last-child .nav-link {
  padding-right: 23px;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #293449;
}

.nav-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.main-page {
  padding-top: 59px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  min-height: 409px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.features-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 123px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-top: 21px;
  padding-bottom: 23px;
  padding-left: 23px;
  margin-left: 20px;
}

.features-item::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.materials::before {
  top: 31px;
  right: 9px;
  background-image: url("../img/image/icon-1.png");
}

.instrument::before {
  top: 33px;
  right: 25px;
  background-image: url("../img/image/icon-2.png");
}

.equipment::before {
  top: 31px;
  right: 31px;
  background-image: url("../img/image/icon-3.png");
}

.discounts::before {
  top: 26px;
  right: 26px;
  background-image: url("../img/image/icon-4.png");
}

.delivery::before {
  top: 32px;
  right: 31px;
  background-image: url("../img/image/icon-5.png");
}

.materials {
  background-color: #ffbf47;
  margin-left: 0;
}

.instrument {
  background-color: #3bbce3;
}

.equipment {
  background-color: #dc91d8;
}

.discounts {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  margin-bottom: 12px;
}

.features-link {
  width: 135px;
  min-height: 38px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  padding-top: 11px;
}

.features-link:hover,
.features-link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider {
  position: relative;
  width: 620px;
  height: 266px;
  background-color: #301d19;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  position: absolute;
  display: none;
  width: 100%;
  height: 266px;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-left: 24px;
}

.slide-drill {
  background-image: url("../img/image/layer-99.jpg");
}

.slide-perforator {
  background-image: url("../img/image/layer-100.jpg");
}

.slider-title {
  display: block;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
}

.slider-text {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.open-catalog {
  position: absolute;
  width: 195px;
  bottom: 22px;
  left: 25px;
  padding: 0;
  padding-left: 3px;
}

.slider-control {
  position: absolute;
  width: 22px;
  height: 40px;
  top: 114px;
  border: none;
  background-color: rgba( 0, 0, 0, 0);
}

.slide-left {
  left: 25px;
  background-image: url("../img/image/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slide-right {
  right: 20px;
  background-image: url("../img/image/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #ee3643;
  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;
}

.goods-inner,
.brands-inner {
  background-color: #f9f5f0;
}

.popular {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.brands-item {
  background-color: #fff;
}

.popular-goods,
.popular-brands {
  width: 253px;
  min-height: 38px;
  margin-top: 20px;
}

.btn-companies {
  width: 220px;
}

.btn-feedback {
  width: 300px;
  padding-left: 6px;
}

.services-title,
.company-info h2,
.page-title,
.info-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.services p,
.company-info p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.services {
  background-color: #f4f8f9;
  min-height: 522px;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 98px;
}

.transport-companies {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.transport-companies-item {
  position: relative;
  font-size: 18px;
  line-height: 35px;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  padding-left: 36px;
}

.transport-companies-item::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.contacts-text {
  margin-bottom: 32px;
}

.cart-img {
  width: 300px;
  height: 158px;
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
}

.footer-page {
  min-height: 300px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background-color: #32425c;
}

.footer-item:nth-child(n+6):nth-child(-n+9) a,
.footer-bottom a {
  color: #ffda96;
}

.feedback-link,
.developer-link {
  font-size: 16px;
  line-height: 18px;
}

.footer-link:hover,
.footer-link:focus,
.footer-bottom a:hover,
.footer-bottom a:focus {
  text-decoration: underline;
}

.footer-link:active {
  opacity: 0.5;
}

.footer-bottom a:active {
  color: #ee3643;
}

.catalog-item,
.social-list {
  text-align: center;
}

.breadcrumbs-link {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
}

.page-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: #32425c;
  background-color: #f2f6f8;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 28px;
}

.name-filter,
.sorting {
  min-height: 38px;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  background-color: #f7f3ec;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-left: 19px;
  border-radius: 2px;
}

.name-filter {
  margin-bottom: 11px;
  padding-top: 10px;
}

.range-block,
.min-price,
.max-price {
  background-color: #f7f3ec;
}

.price-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 38px;
}

.min-price,
.max-price {
  width: 95px;
  min-height: 38px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  border: none;
  padding-bottom: 4px;
  border-radius: 2px;
}

.range-block {
  position: relative;
  height: 80px;
  margin: 0;
  padding: 0;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 9px;
  border-radius: 3px;
}

.scale {
  height: 2px;
  background: #d7dcde;
}

.bar {
  width: 160px;
  height: 2px;
  background: #00ca74;
}

.toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #ababab;
  border: 8px solid #ffffff;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  left: 20px;
}

.toggle-max {
  left: 160px;
}

.dash {
  margin-top: 11px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-right: 17px;
  padding-top: 10px;
}

.name-sorting {
  margin-right: 95px;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 355px;
  margin: 0;
  padding: 0;
}

.sorting-link {
  color: rgba(0, 0, 0, 0.30);
  border-bottom: 1px dotted #ee3643;
  margin: 0;
  padding: 0;
}

.sorting-link:hover,
.sorting-link:focus {
  color: #000;
  border-bottom: 1px solid #ee3643;
}

.sorting-link:active {
  color: #ee3643;
  border: none;
}

.sorting-active {
  color: #ee3643;
  border: none;
}

.sorting-control {
  display: flex;
  justify-content: space-between;
  width: 43px;
  min-height: 12px;
  padding: 0;
  margin-top: 2px;
  margin-right: 6px;
}

.control-up,
.control-down {
  width: 11px;
  height: 10px;
  border: none;
  background-color: rgba( 0, 0, 0, 0);
}

.sorting-btn path {
  fill: #c5c5c5;
}

.sorting-btn:hover path,
.sorting-btn:focus path {
  fill: #231f20;
}

.sorting-btn:active path,
.sorting-active path {
  fill: #ee3643;
}

.filter-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.filter-list {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.filter-item {
  margin-bottom: 20px;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.filter-label {
  margin-left: 18px;
}

.filter-input:disabled+label {
  opacity: 0.4;
}

.filter-label,
.radio-label {
  position: relative;
  padding-left: 16px;
}

.filter-label::before {
  content: "";
  position: absolute;
  display: block;
  top: -1px;
  left: -18px;
  width: 23px;
  height: 23px;
  background-image: url(../img/image/checkbox-off.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.filter-input:checked+.filter-label::before {
  width: 27px;
  height: 23px;
  background-image: url(../img/image/checkbox-on.png);
}

.filter-input:disabled+.filter-label::before,
.filter-input:disabled+.radio-label::before {
  opacity: 0.3;
}

.filter-input+.filter-label:hover::before {
  background-image: url(../img/image/checkbox-off-hover.png);
}

.filter-input:checked+.filter-label:hover::before {
  background-image: url(../img/image/checkbox-on-hover.png);
}

.radio-label::before {
  width: 25px;
  height: 25px;
  background-image: url(../img/image/radio-off.png);
}

.filter-input:checked+.radio-label::before {
  width: 25px;
  height: 25px;
  background-image: url(../img/image/radio-on.png);
}

.filter-input+.radio-label:hover::before {
  background-image: url(../img/image/radio-off-hover.png);
}

.filter-input:checked+.radio-label:hover::before {
  background-image: url(../img/image/radio-on-hover.png);
}

.btn-show {
  width: 140px;
  min-height: 38px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 37px;
  border-radius: 2px;
}

.btn-show:hover,
.btn-show:focus {
  cursor: pointer;
}

.catalog-item-inner {
  display: flex;
  flex-direction: column;
  width: 160px;
  min-height: 136px;
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 9px;
}

.catalog-link {
  color: #000;
  margin-bottom: 7px;
}

.catalog-title {
  width: 158px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-bottom: 1px;
  margin-left: auto;
}

.old-price {
  min-height: 31px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
  text-decoration: line-through;
  margin: 0;
  padding: 0;
  padding-left: 3px;
  padding-top: 3px;
  margin-right: auto;
  margin-left: auto;
}

.price {
  display: block;
  min-height: 38px;
  width: 141px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
  background: url("../img/image/red-button.svg") center no-repeat;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 13px;
  padding-top: 11px;
  padding-right: 3px;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;
  min-height: 38px;
}

.pagination-link {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  background-color: #fff;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  padding-top: 9px;
  padding-right: 5px;
  padding-left: 5px;
  min-width: 38px;
  min-height: 38px;
}

.next {
  padding-right: 31px;
  padding-left: 32px;
}

.pagination-link:hover,
.pagination-link:focus {
  border: 1px solid #bdc6ca;
}

.pagination-link:active {
  border: 1px solid #ee3643;
}

.pagination-active {
  color: #fff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.perforator-info {
  background-color: #f2f6f8;
  margin: 0;
  padding: 0;
  padding-top: 64px;
  min-height: 260px;
}

.info-title {
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.info-text {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

.copy,
.feedback-text,
.developer-text {
  font-size: 16px;
  line-height: 18px;
}

.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.header-top {
  width: 100%;
  min-height: 42px;
}

.inner-header-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top-menu {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
}

.top-menu-link {
  font-size: 17px;
  line-height: 18px;
  width: 150px;
  min-height: 42px;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 18px;
}

.top-menu-link.checkout {
  padding-left: 0;
}

.bookmarks {
  position: relative;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 20px;
  height: 20px;
  background-image: url("../img/image/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks:hover::before {
  opacity: 1;
}

.bookmarks:focus::before,
.bookmarks:active::before {
  opacity: 0.5;
}

.basket {
  position: relative;
}

.basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 20px;
  height: 20px;
  background-image: url("../img/image/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket:hover::before {
  opacity: 1;
}

.basket:focus::before,
.basket:active::before {
  opacity: 0.5;
}

.full-basket {
  background-color: #ee3643;
  padding-left: 23px;
}

.full-basket:hover,
.full-basket:focus {
  background-color: #ca2c37;
}

.full-basket:active {
  color: rgba(255, 255, 255, 1);
  background-color: #ba2732;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  padding-top: 45px;
}

.header-contacts {
  width: 270px;
  text-align: center;
  margin: 0;
}

.entry {
  position: relative;
  width: 120px;
  padding-left: 21px;
}

.entry svg {
  position: absolute;
  top: 15px;
  left: 13px;
}

.entry:hover path,
.entry:focus path {
  fill: #32425c;
}

.entry:active path {
  fill: #c5c5c5;
}

.registration {
  width: 150px;
  margin-left: 10px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 940px;
  margin: 0;
  padding: 0;
}

.company-info {
  display: flex;
  justify-content: space-between;
  width: 940px;
  min-height: 534px;
  padding: 0;
  padding-top: 54px;
  padding-bottom: 85px;
}

.technomart-company {
  width: 520px;
  margin: 0;
}

.company-text {
  margin: 0;
  padding: 0;
}

.company-text:first-of-type {
  margin-bottom: 25px;
}

.company-text:last-of-type {
  margin-bottom: 13px;
}

.contacts {
  width: 300px;
  margin: 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  min-height: 193px;
}

.footer-logo {
  min-height: 68px;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  padding-top: 21px;
}

.footer-address {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-left: 3px;
}

.footer-tel {
  margin: 0;
  margin-left: 3px;
}

.footer-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 4px;
  width: 613px;
}

.footer-item {
  padding: 0;
  padding-top: 34px;
  padding-left: 59px;
}

.footer-bottom {
  min-height: 107px;
  margin: 0;
  padding: 0;
  padding-top: 35px;
}

.footer-bottom-inner {
  display: flex;
  justify-content: space-between;
}

.copy {
  margin: 0;
  padding: 0;
  margin-top: 2px;
  margin-right: 45px;
  margin-left: 1px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 132px;
  min-height: 41px;
  margin-right: auto;
  margin-left: auto;
}

.social-item {
  margin-bottom: 4px;
}

.social-link {
  position: relative;
  display: block;
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  border-radius: 50px;
  margin: 0;
  padding: 0;
}

.social-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 8px;
  width: 30px;
  height: 30px;
  background-image: url("../img/image/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.fb::before {
  top: 10px;
  left: 14px;
  background-image: url("../img/image/icon-fb.svg");
}

.inst::before {
  top: 10px;
  left: 9px;
  background-image: url("../img/image/icon-insta.svg");
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: #ee3643;
}

.feedback,
.developer {
  line-height: 18px;
  margin: 0;
  margin-top: 2px;
}

.feedback {
  margin-right: 53px;
}

.developer {
  margin-right: 13px;
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 20px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:first-of-type) {
  padding-left: 39px;
}

.breadcrumbs-item:not(:first-of-type)::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 15px;
  width: 7px;
  height: 12px;
  background-image: url("../img/image/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-home {
  position: relative;
  width: 15px;
}

.breadcrumbs-home svg {
  position: absolute;
  top: 2px;
  left: -2px;
}

.filters-wrap {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.filter {
  margin: 0;
  padding: 0;
}

.filter-inner {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  margin-bottom: 16px;
  border: none;
}

.filter-inner:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}

.filter-inner:nth-of-type(2) {
  padding-bottom: 22px;
  margin-bottom: 17px;
}

.catalog {
  width: 700px;
  min-height: 1150px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
}

.catalog-img {
  height: 170px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.catalog-item {
  position: relative;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
}

.actions {
  position: absolute;
  font-family: "Cuprum", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 218px;
  min-height: 170px;
  background-color: #fff;
  padding: 0;
  padding-top: 43px;
  padding-bottom: 40px;
}

.button {
  width: 135px;
  min-height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  margin-right: auto;
  margin-bottom: 8px;
  margin-left: auto;
  padding-top: 3px;
  padding-left: 10px;
  cursor: pointer;
}

.btn-buy {
  position: relative;
  color: #fff;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
}

.btn-buy::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 15px;
  width: 20px;
  height: 20px;
  background-image: url("../img/image/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.btn-to-bookmarks {
  color: #32425c;
  background-color: #fff;
  border: 3px solid #63a63e;
}

.btn-buy:hover,
.btn-buy:focus {
  background-color: #5fbb2d;
}

.btn-buy:active {
  background-color: #518534;
  border-color: #518534;
}

.btn-to-bookmarks:hover,
.btn-to-bookmarks:focus {
  border-color: #32425c;
}

.btn-to-bookmarks:active {
  border-color: #c1c6ce;
  color: rgba(50, 66, 92, 0.3);
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.new::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  background-image: url("../img/image/new flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px rgba( 41, 52, 73, 0.5);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.goods {
  min-height: 428px;
  margin-bottom: 20px;
}

.goods-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 89px;
  margin-bottom: 20px;
  padding-right: 24px;
  padding-left: 28px;
  padding-top: 5px;
}

.goods-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.goods-list .catalog-item {
  margin: 0;
}

.brands {
  min-height: 421px;
  margin-bottom: 65px;
}

.brands-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 89px;
  margin-bottom: 20px;
  padding-right: 24px;
  padding-left: 28px;
  padding-top: 5px;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.brands-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 145px;
  border: 1px solid #ebebeb;
  margin-right: 20px;
  margin-bottom: 20px;
}

.brands-item:nth-child(4n) {
  margin-right: 0;
}

.brand-interskol {
  padding-bottom: 11px;
  padding-right: 1px;
}

.brands-item:hover,
.brands-item:focus {
  box-shadow: 0 10px 25px rgba( 41, 52, 73, 0.5);
}

.brands-item:active {
  box-shadow: 0 4px 10px rgba( 41, 52, 73, 0.5);
  opacity: 0.3;
}

.services-text {
  width: 400px;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}

.services-list {
  position: relative;
  width: 240px;
  margin: 0;
  padding: 0;
  margin-right: 80px;
}

.services-item {
  display: block;
  min-height: 62px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-left: 23px;
}

.services-item:hover,
.services-item:focus {
  background-color: #293449;
  color: #fff;
  cursor: pointer;
}

.services-item:active {
  color: #32425c;
  background-color: #fff;
  border: #fff;
}

.services-list::after {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;
  width: 10px;
  height: 272px;
  background-image: url("../img/image/shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-block {
  position: relative;
  width: 278px;
  min-height: 186px;
  margin: 0;
  padding: 0;
  margin-top: -2px;
}

.block-guarantee {
  width: 375px;
}

.block-guarantee .block-title {
  font-style: italic;
}

.block-credit {
  width: 280px;
}

.block-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.block-text {
  margin: 0;
  padding: 0;
  margin-top: 24px;
}

.send-request {
  width: 195px;
  margin-top: 26px;
}

.services-block::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.block-delivery::after {
  top: 25px;
  right: -341px;
  width: 468px;
  height: 261px;
  background-image: url("../img/image/auto.png");
}

.block-guarantee::after {
  top: 5px;
  right: -251px;
  width: 389px;
  height: 283px;
  background-image: url("../img/image/garantee.png");
}

.block-credit::after {
  top: 0;
  right: -351px;
  width: 465px;
  height: 285px;
  background-image: url("../img/image/credit.png");
}

.map-popup {
  position: fixed;
  top: 60px;
  left: 50%;
  width: 980px;
  height: 447px;
  margin: 0;
  padding: 0;
  margin-left: -490px;
  z-index: 1;
}

.modal-question {
  position: fixed;
  top: 271px;
  left: 50%;
  width: 620px;
  min-height: 430px;
  background-color: #fff;
  border-top: 6px solid #ff5357;
  box-shadow: 0 20px 40px rgba( 0, 0, 0, 0.75);
  margin-left: -310px;
  z-index: 1;
}

.map-exit,
.modal-question-exit,
.item-added-exit {
  position: absolute;
  border: 0;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.map-exit {
  top: 23px;
  right: 21px;
}

.question {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 460px;
  min-height: 226px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
  padding: 0;
  padding-top: 48px;
}

.question-item {
  width: 220px;
  margin-bottom: 21px;
}

.question-item input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 220px;
  height: 38px;
  color: #b0b0b0;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  padding-left: 14px;
}

.question-item:nth-last-of-type(1) {
  width: 460px;
}

.question-item:nth-last-of-type(1) textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 460px;
  height: 114px;
  color: #b0b0b0;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  padding-top: 10px;
  padding-left: 14px;
}

.question-item input:focus,
.question-item textarea:focus {
  color: #000;
}

.question-item label {
  display: block;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 9px;
  margin-left: 1px;
}

.question-bottom {
  background-color: #f4f4f4;
  width: 100%;
  min-height: 112px;
  margin: 0;
  padding: 0;
}

.question-send {
  position: absolute;
  bottom: -86px;
  left: 0;
  width: 100%;
  border: 0;
}

.item-added {
  position: fixed;
  top: 392px;
  left: 50%;
  width: 620px;
  min-height: 282px;
  background-color: #fff;
  border-top: 6px solid #ff5357;
  box-shadow: 0 20px 40px rgba( 41, 52, 73, 0.75);
  margin-left: -310px;
  padding: 0;
  padding-top: 36px;
  z-index: 1;
}

.item-text {
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 30px;
  padding-left: 180px;
  margin-bottom: 68px;
}

.item-text::before {
  content: "";
  position: absolute;
  top: -17px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/image/icon-mark.svg");
  background-repeat: no-repeat;
}

.item-added-btn {
  width: 100%;
  min-height: 112px;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 37px;
  text-align: center;
}

.checkout-btn {
  width: 220px;
  margin-right: 16px;
}

.continue-btn {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  width: 220px;
  color: #000;
  background-color: #fff;
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 9px;
  border-radius: 3px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 36px;
  z-index: 1;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin: 1px;
  margin-top: 4px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

#product-1:checked~.slider-list .slider-item:nth-child(1),
#product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 6px;
  height: 6px;
  margin: -3px;
  background-color: #ee3643;
  border-radius: 50%;
}

.services-wrap {
  position: relative;
}

.services-inner {
  position: absolute;
  display: none;
  top: 0;
  left: 320px;
}

#services-1:checked~.services-list .services-item:nth-child(1),
#services-2:checked~.services-list .services-item:nth-child(2),
#services-3:checked~.services-list .services-item:nth-child(3) {
  color: #32425c;
  background-color: #fff;
  border: #fff;
}

#services-1:checked~.services-inner:nth-of-type(2),
#services-2:checked~.services-inner:nth-of-type(3),
#services-3:checked~.services-inner:nth-of-type(4) {
  display: block;
}

.modal {
  display: none;
}

.modal-show {
  display: block;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

.map-popup img {
  position: absolute;
  margin: 0;
}

.map-popup .my-map {
  position: absolute;
  border: none;
  top: 15px;
  left: 15px;
  width: 940px;
  height: 452px;
  z-index: 1;
}

input:focus+label::before {
  opacity: 1;
}

#product-1:focus~.slider-controls .slider-controls-item--1::after,
#product-2:focus~.slider-controls .slider-controls-item--2::after {
  opacity: 1;
}

#services-1:focus~.services-list .services-item:nth-child(1),
#services-2:focus~.services-list .services-item:nth-child(2),
#services-3:focus~.services-list .services-item:nth-child(3) {
  opacity: 1;
}