body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  background-color: #fff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  text-align: center;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.main-catalog,
.catalog-item,
.services-text,
.block-text,
.company-text,
.contacts-text {
  font-family: "PT Sans", Arial, sans-serif;
}

.header-page {
  min-height: 320px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  background-color: #f4f7f9;
}

.header-top,
.footer-bottom {
  background-color: #293449;
}

.nav-list,
.transport-companies,
.breadcrumbs-list,
.filter-list,
.catalog-list,
.goods-list,
.footer-list,
.social-list,
.brands-list,
.services-list,
.sorting-list,
.pagination-list {
  list-style: none;
}

.top-menu-link,
.nav-link,
.footer-page a {
  color: #fff;
}

.logo {
  display: block;
  width: 220px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.logo:hover,
.logo:focus,
.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.logo:active,
.btn:active {
  background-color: #ba2732;
}

.header-logo {
  height: 48px;
}

.search {
  width: 263px;
  height: 43px;
  font-size: 17px;
  line-height: 18px;
  border: 0;
  background-color: #293449;
  color: #fff;
}

input[type="search"]::-webkit-input-placeholder {
  color: #fff;
}

input[type="search"]::-moz-placeholder {
  color: #fff;
}

.search:hover,
.search:focus,
.top-menu-link:hover,
.top-menu-link:focus {
  background-color: #212a3a;
}

.top-menu-link:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.search:focus {
  color: #000;
  background-color: #fff;
}

.checkout {
  background-color: #63a63e;
}

.checkout:hover,
.checkout:focus {
  background-color: #5fbb2d;
}

.checkout:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header-text {
  width: 200px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  margin: 0;
  margin-left: 52px;
}

.tel {
  display: block;
  width: 270px;
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #fff;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-nav {
  display: flex;
  flex-direction: row;
}

.user-btn {
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}

.user-btn:hover,
.user-btn:focus {
  color: #ee3643;
}

.user-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.user {
  font-size: 21px;
  line-height: 21px;
  background-color: #fff;
  width: 300px;
  min-height: 45px;
  margin: 0;
  margin-bottom: 7px;
}

.user-name {
  color: #000;
}


/* .user:last-child:hover {
  color: #32425c;
} */

.user-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-date span {
  font-size: 17px;
  line-height: 17px;
  color: #32425c;
  vertical-align: middle;
}

.user a:active {
  opacity: 0.3;
}

.user-link:hover,
.user-link:focus {
  color: #ee3643;
}

.user-link:active {
  color: #32425c;
  opacity: 0.3;
}

.nav-link {
  display: inline-block;
  min-height: 60px;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  background-color: #32425c;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #293449;
}

.nav-link:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.features-item:nth-child(2) {
  background-color: #ffbf47;
}

.features-item:nth-child(3) {
  background-color: #3bbce3;
}

.features-item:nth-child(4) {
  background-color: #dc91d8;
}

.features-item:nth-child(5) {
  background-color: #8ed78f;
}

.features-item:nth-child(6) {
  background-color: #ffc047;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
}

.features-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

.features-link:hover,
.features-link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider {
  background: url("../img/image/layer 99.jpg") no-repeat #301d19;
}

.slider-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.slider-text {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.goods-inner,
.brands-inner {
  background-color: #f9f5f0;
}

.popular {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
}

.brands-item {
  background-color: #fff;
}

.btn {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  background-color: #ee3643;
}

.services-title,
.company-info h2,
.page-title,
.info-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.page-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
}

.services p,
.company-info p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services {
  background-color: #f4f8f9;
}

.services-item {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  background-color: #32425c;
}

.services-item:hover,
.services-item:focus {
  background-color: #293449;
  color: #fff;
}

.services-active {
  color: #32425c;
  background-color: #fff;
}

.services-item:active {
  color: #32425c;
  background-color: #fff;
}

.block-title {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.transport-companies-item {
  font-size: 18px;
  line-height: 20px;
}

.btn-cart {
  border: 0;
}

.footer-page {
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
  color: #fff;
}

.footer-logo {
  height: 68px;
}

.footer-item:nth-child(n+6):nth-child(-n+9) a,
.footer-bottom a {
  color: #ffda96;
}

.feedback-link,
.developer-link {
  font-size: 16px;
  line-height: 18px;
}

.social-item {
  background-color: #212a3a;
}

.social-link {
  opacity: 0;
}

.footer-link:hover,
.footer-link:focus,
.footer-bottom a:hover,
.footer-bottom a:focus {
  text-decoration: underline;
}

.footer-link:active {
  opacity: 0.5;
}

.social-item:hover,
.social-item:focus,
.social-item:active {
  background-color: #ee3643;
}

.footer-bottom a:active {
  color: #ee3643;
}

.catalog-item,
.social-list {
  text-align: center;
}

.full-basket {
  background-color: #ee3643;
}

.full-basket:hover,
.full-basket:focus {
  background-color: #ca2c37;
}

.full-basket:active {
  color: rgba(255, 255, 255, 1);
  background-color: #ba2732;
}

.breadcrumbs-link {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
}

.page-title {
  color: #32425c;
  background-color: #f2f6f8;
}

.filter-inner {
  border: none;
}

.name-filter,
.sorting {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  background-color: #f7f3ec;
  text-transform: uppercase;
}

.range-block,
.min-price,
.max-price {
  background-color: #f7f3ec;
}

.min-price,
.max-price {
  font-size: 17px;
  line-height: 18px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.sorting-link {
  color: rgba(0, 0, 0, 0.30);
  border-bottom: 1px dotted #ee3643;
}

.sorting-control {
  color: rgba(0, 0, 0, 0.30);
}

.sorting-link:hover,
.sorting-link:focus {
  color: #000;
  border-bottom: 1px solid #ee3643;
}

.sorting-control:hover,
.sorting-control:focus {
  color: #000;
}

.sorting-link:active,
.sorting-control:active {
  color: #ee3643;
  border: none;
}

.sorting-active {
  color: #ee3643;
  border: none;
}

.filter-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-list {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0;
}

.btn-show {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
}

.filter-input:hover,
.filter-input:focus {
  color: #b5b5b5;
}

.filter-input:disabled+label {
  color: #e9e9e9;
}

.catalog-link {
  color: #000;
}

.catalog-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  width: 158px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
  text-decoration: line-through;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.price {
  display: block;
  min-height: 38px;
  width: 141px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
  background: url("../img/image/red-button.svg") center no-repeat;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  min-height: 38px;
  margin-bottom: 8px;
}

.btn-buy {
  color: #fff;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
}

.btn-to-bookmarks {
  color: #32425c;
  background-color: #fff;
  border: 3px solid #63a63e;
}

.btn-buy:hover,
.btn-buy:focus {
  background-color: #5fbb2d;
}

.btn-buy:active {
  background-color: #518534;
}

.btn-to-bookmarks:hover,
.btn-to-bookmarks:focus {
  border-color: #32425c;
}

.btn-to-bookmarks:active {
  border-color: #c1c6ce;
  color: rgba(50, 66, 92, 0.3);
}

.pagination-link {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  background-color: #fff;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
}

.pagination-link:hover,
.pagination-link:focus {
  border: 1px solid #bdc6ca;
}

.pagination-link:active {
  border: 1px solid #ee3643;
}

.pagination-active {
  color: #fff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.perforator-info {
  background-color: #f2f6f8;
}

.info-title {
  font-family: "Cuprum", Arial, sans-serif;
}

.info-text {
  font-size: 13px;
  line-height: 24px;
}

.footer-address {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-top: 30px;
}

.copy,
.feedback-text,
.developer-text {
  font-size: 16px;
  line-height: 18px;
}

.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.header-top {
  width: 100%;
  height: 43px;
}

.inner-header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* Почему я 3 блока по 150 не могу обернуть в один 450? не помещаются */

.top-menu {
  display: flex;
  flex-direction: row;
  width: 450px;
}

.top-menu-link {
  font-size: 17px;
  line-height: 18px;
  width: 150px;
  height: 43px;
  /* Если ставлю мин-высоту, блок выпадает и становится не 43 */
}

.header-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 48px;
}

.header-contacts {
  width: 270px;
  text-align: center;
}

.entry {
  width: 120px;
}

.registration {
  width: 150px;
  margin-left: 10px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  min-height: 60px;
  margin-top: 44px;
}

.company-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 537px;
}

.technomart-company {
  width: 520px;
  margin: 0;
  margin-top: 60px;
}

.contacts {
  width: 300px;
  margin: 0;
  margin-top: 60px;
}

.footer-top {
  min-height: 195px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  width: 613px;
}

.footer-item {
  padding: 0;
  padding-top: 33px;
  padding-left: 59px;
}

.footer-bottom {
  min-height: 107px;
}

.footer-bottom-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}


/* В макете line-height:18px, но тогда по виду не подходит */

.feedback,
.developer {
  line-height: 16px;
}

.feedback {
  margin-left: 110px;
}

.developer {
  margin-right: 13px;
}

.breadcrumbs-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 10px;
}

.filters-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.sorting {
  margin: 0;
  margin-bottom: 22px;
}

.catalog {
  width: 700px;
  min-height: 1150px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.catalog-img {
  height: 170px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.catalog-item {
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 22px;
  border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.block-button {
  font-family: "Cuprum", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 135px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 172px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  min-height: 40px;
}


/* .goods-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.goods-list .catalog-item {
  margin: 0;
} */

.modal {
  display: none;
}

.catalog-item-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 136px;
  margin: 0;
  margin-top: 6px;
}